
<div >
<div>
  <header style="padding: 0px;text-align: center;">
    <img  height="35%" width="35%" src="assets/biggerlogoasset.png">
  </header>


<div >
   <main  style="padding-bottom: 50px; text-align: center;">
    <router-outlet></router-outlet>
   
  </main>
</div>

<div style=" text-align: center;">
  <footer >
    <p>IMPORTANT DISCLOSURES:</p>
    <p>HARP-Express.net is not associated with the government, and our service is not approved by the government or your lender; and even if you accept this offer and use our services, your lender may not agree to change your loan.</p>
    <p>HARP-Express.net is not a loan broker, lender, loan modification company or foreclosure prevention/ counseling company. HARP-Express.net is not associated with or an affiliate of your current lender or servicer. This is not an offer by HARP-Express.net to lend you money. Our goal is to provide an easy connection for homeowners seeking information on HARP eligibility with a private mortgage broker or attorney who can assist you.</p>
    <p>
        All information submitted on HARP-Express.net is subject to our <a href="http://harp-express.com/privacy_policy.php">privacy policy</a>.
    </p>
    <p>* https://www.fhfa.gov/Media/PublicAffairs/Pages/HARP-Refinances-Total-3-38-Million-Through-the-Fourth-Quarter.aspx</p>
  </footer>
</div>

</div>
