

<form>
<h1>What Is Your Estimated Credit Score?</h1>
<br/>
<p style="height: 10px;"></p>
<img src="assets/excellentcredit.png" id="excellentcredit" (click)="excellCredit()">
<img src="assets/goodcredit.png" id="goodcredit"  (click)="goodCredit()">
<img src="assets/faircredit.png" id="faircredit" (click)="fairCredit()">
<img src="assets/poorcredit.png" id="poorcredit" (click)="poorCredit()">
<p style="height: 40px;"></p>
<br/>
<button style="height:50px;width:140px; font-size: 22px;" type="submit" class="btn btn-success" (click)="goToNext()">Next</button>
<br/>
<p style="height: 5px;"></p>
<button type="button" class="btn btn-default" (click)="goToPrevious()" >	&larr; 	&nbsp;Go Back</button>

</form>
